.hero-component {

  .wrapper {
    background-image: url($hero-url);
    background-color: $black;
    background-position: center center;
    background-size: cover;
    margin: 0;
    position: relative;

    &:after {
      bottom: 0;
      background-color: rgba($black, .8);
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;

      @media only screen and (min-width: $screen-sm) {
        background-color: transparent;
      }
    }

    &.dark {
      .content {
        color: $black;
      }

      &:after {
        background-color: rgba($white, .5);

        @media only screen and (min-width: $screen-sm) {
          background-color: transparent;
        }
      }
    }

  }

  .content {
    color: $white;
    padding: 50px 10px;
    position: relative;
    text-align: center;
    top: initial;
    width: 100%;
    z-index: 2;

    @media only screen and (min-width: $screen-sm) {
      color: $black;
      padding: 0 40px;
      position: absolute;
      text-align: left;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }

    &.w-container {
      @media only screen and (min-width: $screen-sm) {
          padding: 0;
          width: 44%;
      }
      @media only screen and (min-width: $screen-md) {
          padding: 0;
          width: 39%;
      }
      @media only screen and (min-width: $screen-lg) {
          padding: 0;
          width: 38%;
      }
    }
  }

  h1 {
    font-family: "nexa xbold";
    font-size: 30px;
    margin: 0;

    @media only screen and (min-width: $screen-md) {
      font-size: 47px;
    }
  }

  h2 {
    font-family: "nexa bold";
    font-size: 21px;
    color: $red;

    @media only screen and (min-width: $screen-md) {
      font-size: 28px;
      margin-top: 10px;
    }
  }

  h3 {
    font-family: "nexa book";
    font-size: 18px;
    @media only screen and (min-width: $screen-sm) {
      font-size: 20px;
    }
  }

  .placeholder {
    display: none;

    @media only screen and (min-width: $screen-sm) {
      display: block;
      height: auto;
      visibility: hidden;
      width: 100%;
    }
  }
}
