.bg-section {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  position: relative;
  padding: 0;
  min-height: auto;
  @media only screen and (min-width: $screen-md) {
    padding: 20px 0;
    /*min-height: 500px;*/
  }
}

.bg-r {
  background-position: 62% center;
}

.bg-c {
  background-position: center center;
}

.l-bg {
    background-color: #e8e8e8;
    background-image: url('../images/white-texture.jpg');
}

.d-bg {
  background-color: #565854;
  color: #FFF;
  background-image: url('../images/black-texture.jpg');
}

.post {
  margin-top: 70px;
  margin-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;

  h3 {
    font-size: $font-size-title - 4px;
    line-height: 1.2;
    @media only screen and (min-width:  $screen-md) {
      font-size: $font-size-title;
    }
  }

  img {
    margin: 20px 0;
    @media only screen and (min-width:  $screen-lg) {
      margin: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

}
