$gray: #444;
$white: #FFF;
$black: #000;
$red:  #d9272d;
$red-hover: #ca242a;
$navbar-bg: #e1e3e4;

$title-family: "nexa book", "avinir next", "avinir", sans-serif;
$font-size: 18px;
$font-size-title: 32px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$hero-url: "../images/hero-demo.jpg";
