  <main class="home">
    ${require('./hero-banner.html')}
     <!-- <section class="call-bar ">
        <div class="fx">
            <div class="fx-phone">
                 <img src="../images/red-phone-icon-2.png">
                <a href="tel:18009218101">1.800.921.8101 </a>
            </div>
        </div>
    </section> -->

    <section class="l-bg bg-section ">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Take this new technology outside</h3>
                    <p>It’s a beautiful day, and you want to sit outside to catch your favorite shows on a big TV. Done. That’s what a wireless STB means for your life on FiOS<sup>&reg;</sup>.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                     <img class=" img-responsive text-center m-auto " src="../images/wireless-1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section d-bg bg-r">
        <div class="container">
            <div class="row post vertical-align">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <img class=" img-responsive text-center m-auto " src="../images/wireless-2.jpg" alt="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>You have the power of FiOS<sup>&reg;</sup> all over your house</h3>
                    <p>Sometimes you just want to move a TV to another room—for guests, a party, whatever. Whenever you want, network with your Whole Home DVR, and watch live TV or your recordings. Ask us about watching wireless!</p>
                </div>
            </div>
        </div>

    </section>



</main>
