  <div class="hero-slider">
    <!-- <div class="slide slide-2">
        <div class="content">
            <h1 class="phase3">Once your power has been restored, please report outages of <span class="red">Frontier</span> services by calling <strong>1.800.921.8101</strong></h1>
        </div>
    </div>
    <div class="slide slide-1">
        <div class="content">
            <h1>Our thoughts are with those impacted by Hurricane Harvey.</h1>
            <h3>We appreciate your patience as we continue working to assess damage and restore outages.</h3>
            <h2>Your safety remains our first priority.</h2>
        </div>
    </div> -->
    <div class="hero-component ">
      <div class="wrapper dark">
        <img src="../images/hero-placeholder.png" class="placeholder" alt="">
        <div class="content ">
          <h1>Lorem ipsum dolor sit amet</h1>
          <h2>Vestibulum dolor nisi, efficitur sed ante vitae, lobortis dapibus ligula</h2>
        </div>
      </div>
    </div>
    <div class="hero-component">
      <div class="wrapper dark">
        <img src="../images/hero-placeholder.png" class="placeholder" alt="">
        <div class="content ">
          <h1>Lorem ipsum dolor sit amet</h1>
          <h2>Vestibulum dolor nisi, efficitur sed ante vitae, lobortis dapibus ligula</h2>
        </div>
      </div>
    </div>
    <!-- <div class="slide slide-3">
        <div class="content-video">
            <div class="embed-responsive2 embed-responsive-4by33">
                <div style="position: relative; display: block; max-width: 690px;">
                    <div style="padding-top: 50%;">
                        <video id="videoPlayer" data-player="BkZGPpHw" data-embed="default" class="video-js" controls="" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  </div>
